<!-- example_template.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquire Sucess</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1{
        font-size: 60px;
    }
    body {
        padding: 30px 60px;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
</style>  
<body>
    <h1>取消成功</h1>
</body>
</html>