<!DOCTYPE html>
<html>
    <head>
        <title>Reservation</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'reservation/inquire.css' %}">
        
    </head>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            h1{
                font-size: 50px;
            }
            body {
                padding: 30px 60px;
                width: 50%;
                align-items: center;
                justify-content: center;
            }
        </style>   
<body>
    <div class="wrapper">
        <form action="{% url 'inquireList' %}" method="post">
            {% csrf_token %}
            <h1> 查詢預約 </h1>
            <div class="input-box">
                <input type="text" placeholder="輸入手機號碼" name="phone" id="phone" style="width: 120px; height: 35px;"required>
            </div>
            <button  type="submit" class="btn" style="width: 45px; height: 25px;background-color: #d4aaffe7; color: rgb(255, 255, 255);">確認</button>
        </form>
    </div>
</body>
</html>




