<!DOCTYPE html>
<html>
    <head>
        <title>Reservation</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'reservation/inquire.css' %}">
        
    </head>
<body>
    <div class="wrapper">
        <form action="{% url 'inquireList' %}" method="post">
            {% csrf_token %}
            <h1> 查詢預約 </h1>
            <div class="input-box">
                <input type="text" placeholder="輸入手機號碼" name="phone" id="phone" required>
            </div>
            <button  type="submit" class="btn">確認</button>
        </form>
    </div>
</body>
</html>




