<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reservation</title>
    <link rel="stylesheet" href="rule.css">
</head>

<body>
    <header>
        <div class="button">    
            <h1>rule</h1>
        </div>
    </header>
    
    <main>
    
    <section>    
        <h2>人數</h2>
    </section>    
    
    <section>    
        <p>2~10人</p>
    </section>  
    
    <section>    
        <h2>位置</h2>
    </section>  

    <section>    
        <p>
        小盲注：莊家左側的玩家，必須下一個最小的賭注
        <br>大盲注：小盲注左側的玩家，必須下一個比小盲注大的標準賭注
        </p>
    </section>      
    
    <section>    
        <h2>牌型</h2>
    </section>  
    
    <section>    
        <p> S
        從高到低的牌型如下:
        <br><br>
        </p>
    </section>   
    
    <section class="poker">    
        <div>
            <img src="image/Royal_Flush.jpg" alt="皇家同花順（Royal Flush）">
            <h3>皇家同花順（Royal Flush）</h3>
            <p>10･J･Q･K･A的同花色組合</p>
        </div>
        <div>
            <img src="image/Straight_flush.jpg" alt="同花順（Straight Flush）">
            <h3>同花順（Straight Flush）</h3>
            <p>同花色加順子</p>
        </div>
        <div>
            <img src="image/Four_of_a_kind.jpg" alt="四條（Four of a Kind）">
            <h3>四條（Four of a Kind）</h3>
            <p>4張相同數字</p>
        </div>
        <div>
            <img src="image/Full_house.jpg" alt="葫蘆（Full House）">
            <h3>葫蘆（Full House）</h3>
            <p>對子加三條</p>
        </div>
        <div>
            <img src="image/Flash.jpg" alt=" 同花（Flush）">
            <h3> 同花（Flush）</h3>
            <p>5張牌同一個花色(數字隨意)</p>
        </div>
        <div>
            <img src="image/Straight.jpg" alt="順子（Straight）">
            <h3>順子（Straight）</h3>
            <p>5張牌連續的數字(花色隨意)</p>
        </div>
        <div>
            <img src="image/Three_of_a_kind.jpg" alt="三條（Three of a Kind）">
            <h3>三條（Three of a Kind）</h3>
            <p>3張數字相同</p>
        </div>
        <div>
            <img src="image/Two_pair.jpg" alt=" 兩對（Two Pair">
            <h3>兩對（Two Pair）</h3>
            <p>有兩張相同點數的牌，加另外兩張相同點數的 </p>
        </div>
        <div>
            <img src="image/One_pair.jpg" alt="一對（One Pair）">
            <h3>一對（One Pair）</h3>
            <p>2張數字相同</p>
        </div>
        <div>
            <img src="image/High_card.jpg" alt="高牌（High Card）">
            <h3>高牌（High Card）</h3>
            <p>不能排成以上組合的牌，以點數決定大小</p>
        </div>
    </section>     
    
    <section>    
        <h2>可進行動作:</h2>
    </section>  
        
    <section>    
        <p> 
        跟注（Call）：投入與當前最大投注相同的籌碼量<br>
        加注（Raise）：增加當前的投注量<br>
        過牌（Check）：在無需跟進更多籌碼時選擇不行動，保留當前投注<br>
        棄牌（Fold）：放棄牌面和已下注的籌碼<br>
        </p>
    </section>     

    </main> 
</body>
</html>
