*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px 20px 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.menu a{
    position: relative;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.93);
}
h1{
    position:relative;
    top: 590px;
    left: 400px;
    width: 900px;
    font-size: 50px;
    background: linear-gradient(45deg, #ffc235, #4800ff); /* 渐变颜色 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/首頁背景.jpg);
    background-size: 100% 100%; /* 使图片宽度和高度适应容器 */
    opacity: 0.85;
    background-position: center; /* 确保图片居中 */
    background-repeat:no-repeat;
}
.logo {
    position: absolute;
    top: 0; /* 定位到容器的底部 */
    left: 0;  /* 定位到容器的左邊 */
    opacity: 0.85;
    z-index: 1;
}
.logo img {
    width: 35%; /* 确保图片宽度为父容器宽度 */
    height: auto; /* 确保图片按比例缩放 */
}
.menu a.now{
    color: rgb(248, 250, 219);
    position:relative;
    top: 427px;
    right: 500px;
    font-size: 47px;
    -webkit-text-stroke: 1.5px #fcff67;   
}
@keyframes change-color{
    0%{background-color: rgba(235, 206, 254, 0.985);}
    10%{background-color: rgba(212, 182, 251, 0.893);}
    20%{background-color: rgba(203, 151, 248, 0.933);}
    30%{background-color: rgba(177, 132, 250, 0.929);}
    40%{background-color: rgba(175, 98, 252, 0.916);}
    50%{background-color: rgba(142, 80, 248, 0.882);}
    60%{background-color: rgba(133, 76, 255, 0.897);}
    70%{background-color: rgba(142, 98, 255, 0.889);}
    80%{background-color: rgb(173, 130, 247);}
    90%{background-color: rgb(200, 160, 253);}
    100%{background-color: rgba(208, 185, 249, 0.912);}
}
.box {
    z-index: 10;
    width: 240px;
    height: 65px;
    background-color: rgb(253, 255, 224);
    position: absolute; 
    top: 473px; 
    left: 670px; 
    opacity: 0.55;
    border-radius: 40px; 
    border: 2px solid rgba(255, 249, 73, 0.51);
}
.box-animation{
    animation-name: change-color;
    animation-duration:3.5s ;
    animation-iteration-count: infinite;
    width: 240px;
}