h1{
    font-size: 55px;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%; 

}

a {
    font-size:30px;
    display: inline-block; 
    border: 1px solid black;  
    padding: 15px;  
    width: 400px;  
    text-decoration: none;  
    color: black;  
}
