* {
    padding: 0;
    margin: 0;
}
header{
    height: 150px;
    width:100%;   
    position: relative;
    left: 50px;
    top: 18px;
    background-image:url(../image/牌桌.png) ;  
    background-repeat:no-repeat;    
}
.button {
    display: flex;
    justify-content: center;  
    align-items: center;      
    width:170px;  
    height: 85px; 
}

h1{
    color:rgb(255, 233, 125);
    font-size:54px;      
}
h2{
    color:rgb(139, 190, 255);
    font-size:28px;
    height:70px;
    width:100%;
    position: relative;
    left: 5px;
    top: 10px;
}
p{
    font-size:18px;
    line-height: 2;
    position: relative;
    left: 20px;
    bottom: 10px;
}
.depiction {
    margin-top: 50px; /* Temporarily highlight the element */
}

.poker div {
    background-color: #cbe1ff; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    margin: 10px; 
    padding: 10px; 
    width: 50%; 
    display: flex; 
    align-items: center; 
    flex-direction: row; 
}

.poker img {
    width: 150px; 
    height: auto; 
    margin-right: 20px; 
}

.poker h3, .poker p {
    margin: 5px 0; 
    font-size: 1.2em; 
}
